
.container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title , .subtitle {
    color: white;
}

.box{
    text-align: center;
    border: solid;
    border-color: black;
    padding: 1.25rem;
    margin-right:30%;
    
}

#secondbox{
    text-align: center;
    border: solid;
    border-color: black;
    margin-left: 30%;
    margin-right: 30%;
}

#thirdbox{
    text-align: center;
    border: solid;
    border-color: black;
    margin-left: 30%;
    margin-right: 30%;
}

button {
    margin-top: 2%;
}
