

.title , .subtitle {
    color: white;
}

.box{
   
    border-color: black;
    padding: 1.25rem;
    margin-right:30%;
    
}

#secondbox{
    border-color: black;
    margin-left: 30%;
    margin-right: 30%;
}

#thirdbox{
    border-color: black;
    margin-left: 30%;
    margin-right: 30%;
}

button {
    margin-top: 2%;
}
